.block{
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(101,132,156);
  outline: 1px solid rgb(242,147,115);
  outline-offset: -15px;
}

.name{
  padding-left: 10px;
  color: rgb(242,147,115);
}

.contenent{
  padding: 20px;
  background: rgb(111,142,166);
  color: rgb(247,239,210);
}

.icon{
  border-radius: 30px;
  width:50px;
  height:50px;
}

.layer{
  float: right;
  padding-right: 10px;
  padding-top: 30px;
  color: rgb(242,147,115);
}
